.form-group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input {
    width: 80%;
    padding: 15px;
    font-size: 26px;
    border-radius: 4px;
    box-shadow: none;
    transition: background 0.4s, box-shadow 0.2s;
    border: 1px solid #ccc;
    color: #3a3c4c;
    &:focus {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
        background: #fff;
        color: #3a3c4c;
        outline: #818184;
    }
}



.location-btn {
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        opacity: 0.6;
    }
    img {
        max-width: 80px;
        width: 100%;
    }
}