<div *ngIf="loading">Loading...</div>

<section class="week-days" *ngIf="dailyReport && dailyReport.length > 0">
    <header>
        <h1>{{weatherService.city}}</h1>
    </header>
    <div>
        <ul class="weather-list">
            <li class="weather-item" *ngFor="let dayReport of dailyReport">
                <span>{{dayReport.valid_date}}</span>
                <div><img src="https://www.weatherbit.io/static/img/icons/{{dayReport.weather.icon}}.png" alt="" class="weather-icon"></div>
                <span class="weather-description">{{dayReport.weather.description}}</span>
                <span>{{dayReport.max_temp | number: '1.0-0'}}&deg;C</span>
                <span class="min_temp">{{dayReport.min_temp | number: '1.0-0'}}&deg;C</span>
            </li>
        </ul>
    </div>
    <div class="btn-next">
        <a class="btn" routerLink="/" [queryParams]="{city: cityName}">Hourly page</a>
    </div>
</section>